---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';

import tvStemImg from '../assets/tvstem.png';
import tvCsdImg from '../assets/tvcsd.png';
import northAtlanticImg from '../assets/northatlantic.png';
import sigmaImg from '../assets/sigma.png';
import teconnectivityImg from '../assets/teconnectivity.png';
import gseImg from '../assets/gse.png';
import doveImg from '../assets/dove.png';
import cateringImg from '../assets/catering.png';
import pastariaImg from '../assets/pastaria.png';
import nycTechImg from '../assets/nyctech.png';
import bakeryImg from '../assets/bakery.png';
import pscImg from '../assets/psc.png';

const title = "Sponsors |";
const current = "sponsors";
---

<Base title={title}>
	<article>
		<div class="page-collection">
			<nav>
				<NavigationBar current={current} />
			</nav>

			<main>
				<header>
					<h1>Sponsors</h1>
				</header>

				<div class="main">
					<div>
						<h2 class="title">Sponsor Tiers</h2>
						<div class="item">
							<h3>Bronze | $500</h3>
							<p>
								Certificate Of Team Sponsorship
								<br/>
								Business Featured On Team Website
								<br/>
								Business Displayed In Season Recap
								<br/>
								Business Name On Team Merchandise
							</p>
						</div>

						<div class="item">
							<h3>Silver | $500 - $ 999</h3>
							<p>
								All Of The Above
								<br/>
								Business Name Featured In Pit During Competition
								<br/>
								Recognition On Team Social Media
							</p>
						</div>

						<div class="item">
							<h3>Gold | $1,000 - $1,999</h3>
							<p>
								All Of The Above
								<br/>
								Business Name On Team Robot
								<br/> 
								Competition Sponsor Announcement Opportunity
							</p>
						</div>

						<div class="item">
							<h3>Platinum | $2,000 And Above</h3>
							<p>
								All Of The Above
								<br/>
								Business Banner Featured In Pit During Competition (If Provided)
								<br/>
								Competition Sponsor Announcement Priority
								<br/>
								Team Merchandise Provided*
								<br/>
								Community Event Title Sponsor Opportunity**
							</p>
						</div>
						
						<div class="item">
							<h3>Sponsorship Can Also Be:</h3>
							<p>
								Materials, Transportation, Cutting/Printing Services, Merch Production, Parts, Mentorship
								<br/>
								<br/>
								<em>*Merchandise distribution timing subject to availability</em>
								<br/>
								<br/>
								<em>**Only available upon deposit of donation. 25-26 Rebuilt season donations are only applicable to the following WM Iron Patriots Community Events: Sponsor Night 2025, Showcase Night 2026. Title Sponsors may include multiple companies. Title Sponsors will receive recognition and brand displayment across event promotions, materials, announcements, and a dedicated acknowledgement during the event. Additional details are available upon request.</em>
							</p>
						</div>
					</div>

					<div>
						<h2 class="title">2025 - 2026 Rebuilt Sponsors</h2>
						<div class="item">
							<h2>Coming Soon!</h2>
						</div>
					<!--
						<div class="item">
							<h2>Platinum Sponsors</h2>
							<section>
								
							</section>
						</div>
						<div class="item">
							<h2>Gold Sponsors</h2>
							<section>
								
							</section>
						</div>
						<div class="item">
							<h2>Silver Sponsors</h2>
							<section>
								
							</section>
						</div>
						<div class="item">
							<h2>Bronze Sponsors</h2>
							<section>
								
							</section>
						</div>
					-->
					</div>
					
					<div>
						<h2 class="title">2024 - 2025 Reefscape Sponsors</h2>
						<div class="item">
							<h2>Platinum Sponsors</h2>
							<section>
								<img src={tvStemImg.src} alt="tvstem"/>
								<img src={tvCsdImg.src} alt="tvcsd"/>
							</section>
						</div>
						<div class="item">
							<h2>Gold Sponsors</h2>
							<section>
								<img src={northAtlanticImg.src} alt="north atlantic"/>
								<img src={sigmaImg.src} alt="sigma"/>
								<img src={teconnectivityImg.src} alt="te connectivity"/>
								<img src={gseImg.src} alt="gse"/>
								<img src={doveImg.src} alt="dove"/>
							</section>
						</div>
						<div class="item">
							<h2>Silver Sponsors</h2>
							<section>
								<img src={cateringImg.src} alt="catering"/>
								<img src={pastariaImg.src} alt="pastaria"/>
							</section>
						</div>
						<div class="item">
							<h2>Bronze Sponsors</h2>
							<section>
								<img src={nycTechImg.src} alt="nyc tech"/>
								<img src={bakeryImg.src} alt="bakery"/>
								<img src={pscImg.src} alt="psc"/>
							</section>
						</div>
					</div>
				</div>
			</main>
		</div>
		<footer>
			<Footer />
		</footer>
	</article>
</Base>

<style>
	img {
		width: 30%;
		height: 30%;
	}

	h2 {
		font-size: 200%;
	}

	h3 {
		margin-bottom: 0;
	}

	p {
		margin-top: 0.5em;
	}

	.title {
		font-size: 270%;
	}

	.main {
		gap: 5em;
		display: flex;
		flex-direction: column;
	}

	.item {
		margin-bottom: 3em;
	}

	.item h2 {
		margin-bottom: 0;
	}
</style>