---
import '../styles/global.css';

import logoImg from '../assets/logo.png';

interface Props {
  /**
  * The page to show as currently selected in the NavBar
  */
  current?: string,
  isHome?: boolean,
}

interface NavLink {
  /**
  * The text that's shown in the NavBar
  */
  name: string,
  /**
  * The link to the page
  */
  href: string,
  /**
  * How the page is refered to internally
  *
  * If `props.current == id`, the link is shown as selected
  */
  id: string,
};

const { current, isHome } = Astro.props;

const navLinks: NavLink[] = [
  { name: 'HOME', href: '/', id: 'home' },
  { name: 'ABOUT', href: '/about', id: 'about' },
  { name: 'UPDATES', href: '/updates', id: 'updates' },
  { name: 'SPONSORS', href: '/sponsors', id: 'sponsors' },
  { name: 'OUTREACH', href: '/outreach', id: 'outreach' },
  { name: 'ROBOTS', href: '/robots', id: 'robots' },
  { name: 'CONTACT', href: '/contact', id: 'contact' },
];
---

<!-- SELF-NOTE: navigation bar on home page and other pages will most likely differ --> 

{ 
  isHome ?
    <nav>
			<div class="home-page__content__navigation">
				{
          navLinks.map((link) => link.id !== 'home' && (
            <a href={link.href}> 
              {link.name}
            </a>
          ))
        }
			</div>
		</nav>
  : 
    <div class="nav">
      <a class="logo" href="/">
        <img src={logoImg.src} alt="logo" width="80" height="80" />
      </a>
      {
        navLinks.map((link) => 
          <a href={link.href} class={current === link.id ? 'selected' : ''}>
            {link.name}
          </a>
        )
      }
  </div>
}

<style>
  .nav {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
  }

  .nav .logo:hover {
    transform: none;
  }

  .nav a {
    transition: 0.25s;
  }
  
  .nav a:hover {
    transform: translatex(0.6rem);
  }

  .selected {
    color: #00a359;
  }

  /*
	*
	* Navigation Bar for Homepage
	*
	*/

	.home-page__content__navigation {
		display: flex;
		justify-content: left;
		align-items: center;
		flex-direction: row;
		column-gap: 5%;
		padding-left: 7%;
		margin-top: 7%;
		flex-wrap: wrap;
	}

	.home-page__content__navigation a {
		text-decoration: none;
		color: #FFF;
		opacity: 1;
		transition: 0.4s;
	}

	.home-page__content__navigation a:hover {
		opacity: 0.6;
		cursor: pointer;
	}

</style>
